body {
    margin: 0;
    padding: 0;
    background-image: url("Sources/background.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.image-container {
    margin: 0; /* Ensure there is no margin */
    width: 100%;
    /* Define the aspect ratio by setting the padding-bottom as a percentage of the width */
    padding-bottom: 5%; /* This gives a 4:3 aspect ratio (height is 75% of the width) */
    background-image: url("Sources/banner.png");
    background-size: cover; /* Ensure the image covers the entire container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat;
    box-shadow: 1px 5px 10px #e36a11;
}

.circle-container {
    position: absolute;
    width: 10%; /* Adjust the size of the circle as needed */
    padding-bottom: 10%; /* Adjust the size of the circle as needed */
    border-radius: 50%;
    background-image: url("Sources/icon.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 1px 5px 10px #e36a11;
}

.top-center {
    top: 0.5%;
    left: 50%;
    transform: translateX(-50%);
}

.custom-container {
    position: absolute;
    top: 55%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.logo-image-container {
    margin: 0; /* Ensure there is no margin */
    width: 100%;
    /* Define the aspect ratio by setting the padding-bottom as a percentage of the width */
    padding-bottom: 5%; /* This gives a 4:3 aspect ratio (height is 75% of the width) */
    background-image: url("Sources/banner.png");
    background-size: cover; /* Ensure the image covers the entire container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat;
    box-shadow: 1px 5px 10px #e36a11;
}
