body {
    margin: 0;
    padding: 0;
    background-image: url("Sources/background.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.image-container {
    margin: 0;
    width: 100%;
    padding-bottom: 5%;
    background-image: url("Sources/banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 1px 5px 10px #e36a11;
}

.circle-container {
    position: absolute;
    width: 10%;
    padding-bottom: 10%;
    border-radius: 50%;
    background-image: url("Sources/icon.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 1px 5px 10px #e36a11;
}

.top-center {
    top: 0.5%;
    left: 50%;
    transform: translateX(-50%);
}

.custom-container {
    position: absolute;
    top: 55%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.logo-image-container {
    margin: 0;
    width: 100%;
    padding-bottom: 5%;
    background-image: url("Sources/banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 1px 5px 10px #e36a11;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

.btn:hover {
    background-color: RoyalBlue;
}

.custom-accordion {
    width: 80%;
    margin: 0 auto;
    position: absolute;
    top: 40%;
    right: 10%;
    z-index: -2;
}

.accordion-body {
    text-align: center;
}